{% extends 'base.html.twig' %}

{% block title %}Edit Food{% endblock %}

{% block body %}

    <a href="{{ path('app_food_index') }}" class="btn btn-outline-info">back to list</a>

    {{ include('food/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
