{% extends 'base.html.twig' %}

{% block title %}New Food{% endblock %}

{% block body %}
    <a href="{{ path('app_food_index') }}">back to list</a>

    {{ include('food/_form.html.twig') }}


{% endblock %}
