{% extends 'base.html.twig' %}

{% block title %}Food{% endblock %}

{% block body %}
    <div class="d-flex justify-content-evenly">
        <a href="{{ path('app_food_index') }}" class="btn btn-outline-info">back to list</a>
        <a href="{{ path('app_food_edit', {'id': food.id}) }}" class="btn btn-outline-warning">edit</a>
    </div>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ food.id }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ food.label }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
