{% extends 'base.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %}

    <a href="{{ path('app_category_index') }}"  class="btn btn-outline-info">back to list</a>
    {{ include('category/_form.html.twig') }}


{% endblock %}
