<!doctype html>
<html lang="fr">
<head>
    {% include '_partial/_meta.html.twig' with {title: ""} %}

    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<body>

<div id="layout-wrapper">

    {% include '_partial/_menu.html.twig' %}

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">

        <div class="page-content">
            <div class="container-fluid">
                {% block body %}{% endblock %}
            </div> <!-- container-fluid -->
        </div>
        <!-- End Page-content -->


        {% include '_partial/_footer.html.twig' %}
    </div>
    <!-- end main content-->

</div>

{#{% include '_partial/_right_sidebar.html.twig' %}#}
</body>
</html>
