<div {{ attributes }} class="my-auto lh-1" style="display:inline-block;">
        {% set _bg = color.color ?? "dark-subtle" %}
        {% set _txt = color.color ?? "dark" %}
        <span class="btn btn-rounded btn-{{ _bg }} no-pointer-events mx-2">
                {% if food is defined and food.number is defined and food.number is not null %}
                        {{ food.number ~"  "~ color.label|first }}
                {% else %}
                &nbsp;&nbsp;&nbsp;&nbsp;
                {% endif %}
        </span>
</div>
