{% extends 'base.html.twig' %}

{% block title %}Edit Color{% endblock %}

{% block body %}

    <a href="{{ path('app_color_index') }}" class="btn btn-outline-info">back to list</a>
    {{ include('color/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
