<meta charset="utf-8"/>
<title>{{ title ?? "" }} - Application de gestion de congélateur</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta content="Application de gestion des stocks de l'association badminton belvesois" name="description"/>
<meta content="Julien CLAUZEL" name="author"/>
<!-- App favicon -->
<link rel="shortcut icon" href="{{ asset('minia/images/favicon.ico') }}">
<link rel="manifest" href="{{ asset('manifest.json') }}">
